<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <style>

    </style>
</head>
<body>
    <!-- ThymeleafでURLのパラメータを持ってくる -->
    <script th:inline="javascript">
        var success = /*[[${param.success}]]*/ null;
        if(success && success[0] === 'signup'){
            alert('会員登録が完了しました！');
        }
    </script>
    <a th:href="@{/}">
        <h1>掲示板</h1>
        </a>
    <p>掲示板作成サイトです！</p>
    <!-- sessionいる時　-->
    <div th:if="${session.loginUser}">
            <P>ようこそ！、<strong th:text="${session.loginUser.username}"></strong>様</P>
            <a href="/logout" class="button">ログアウト</a>
    </div>
        <!-- sessionがない時　-->
    <div th:if="${session.loginUser == null}">
        <p>
            <a href="/login" class="button">ログイン</a>
            <a href="/signup" class="button">会員登録</a>
        </p>
    </div>

    <hr>

    <h2>メニュー</h2>

    <ul>
        <li><a href="/board/list" class="button">リスト</a></li>
    </ul>
</body>
</html>