<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
    <style>
        body {
            margin: 0;
            padding: 20px;
            background-color: #f0f0f0;
        }
        h1 {
            color: #333;
        }
        ul｛
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            color: blue;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- ThymeleafでURLのパラメータを持ってくる -->
    <script th:inline="javascript">
        var success = /*[[${param.success}]]*/ null;
        if(success && success[0] === 'signup'){
            alert('会員登録が完了しました！');
        }
    </script>
    <h1>掲示板</h1>
        <!--　sessionがある時 -->
        <div th:if="${session.loginUser}">
            <P>ようこそ！、<strong th:text="${session.loginUser.username}"></strong>様</P>
            <a href="/logout">ログアウト</a>
        </div>
        <!-- sessionがない時　-->
        <div th:if="${session.loginUser == null}">
            <p>
                <a href="/login">ログイン</a>
                <a href="/signup">会員登録</a>
            </p>
        </div>

    <p>掲示板作成サイトです！</p>
    <hr>
    <h2>メニュー</h2>
    <ul>
        <li><a href="/">掲示板リスト</a></li>
    </ul>
</body>
</html>