<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員登録</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <style>
        * {
            margin :
         }

    </style>
</head>
<body>
<script th:inline="javascript">
    var errorMsg = /*[[${error}]]*/ null;
    var successMsg = /*[[${success}]]*/ null;
    if (errorMsg){
        alert(errorMsg);
    }
    if (successMsg){
        alert(successMsg);
    }
</script>
<a th:href="@{/}">
    <h1>会員登録</h1>
</a>
    <div class="error" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <!-- Formを送る前にcheckPassword()関数を実行する、returnがtrueの時にのみFormを送る-->
    <form action="/signup" method="post" onsubmit="return checkPassword()">
        <label>ID:</label>
            <input type="text" name="username" required>
        <label>PASSWORD:</label>
            <input type="password" id="password" name="password" required oninput="checkPasswordMatch()">
        <label>PASSWORD再確認</label>
            <!--　入力するたびにcheckPasswordMatch()関数を実行 -->
            <input type="password" id="passwordConfirm" required oninput="checkPasswordMatch()">
            <div id="passwordError">PASSWORDが一致しません、もう一度ご確認ください。</div>
        <label>E-MAIL</label>
            <input type="email" name="email" required>
        <button type="submit">加入</button>
        <button type="button" onclick="location.href='/'">
            ホーム
        </button>
    </form>
    <script>
        //入力するたびにPASSWORDが一致するかを確認
        function checkPasswordMatch(){
            var password = document.getElementById("password").value;
            var passwordConfirm = document.getElementById("passwordConfirm").value;
            var errorMsg = document.getElementById("passwordError");

            if(password !== passwordConfirm){
                errorMsg.style.display = "block";
            } else{
                errorMsg.style.display = "none";
            }
        }
        //Submitボタンを押した時にPASSWORDが一致するかを確認
        function checkPassword(){
            var password = document.getElementById("password").value;
            var passwordConfirm = document.getElementById("passwordConfirm").value;

            if(password !== passwordConfirm){
                alert("PASSWORDが一致しません、もう一度ご確認ください。");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>