<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>掲示板作成</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <style>

    </style>
</head>
<body>
<a th:href="@{/}">
    <h1>掲示板作成</h1>
</a>
    <form action="/board/write" method="post">
        <label>タイトル:</label>
            <input type="text" name="title" required>
        <label>本文:</label>
            <textarea name="context" required></textarea>
        <div>
            <button type="submit">作成</button>
            <button type="button" onclick="history.back()">キャンセル</button>
        </div>
    </form>
</body>
</html>